.tags-list {
  padding: 44px;
}

.tags-list span {
  margin-left: 16px;
  font-size: 34px;
  background: rgb(45,50,62) !important;
}


// input.tags[type="text"] {
//   width: 100%;
//   position: relative !important;
//   display: block !important;
//   font-size: 34px !important;
//   font-weight: 400 !important;
//   border: none !important;
//   background-color: #2d323e !important;
//   height: 65px !important;
//   color: #fff !important;
//   margin-left: 0px !important;
//   margin-bottom: 40px !important;
//   padding: 0px 0px 0px 16px !important;
// }

md-chips-wrap {
  padding: 16px !important;
}
