#dashboard {
    padding: 12px;

    #widgets {

        .ms-card {
            padding: 12px;
        }

        .tb-16 {
          padding-top: 16px;
          padding-bottom:16px;
        }
    }


}
