<div class="md-inline-form">

  <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100" flex-gt-xs="100">
          <input type="text" name="email" ng-model="vm.horizontalStepper.step3.email"
                 placeholder="Email">
      </md-input-container>
  </div>

  <div layout="column" layout-gt-xs="row" flex>
      <md-input-container flex="100" flex-gt-xs="50">
          <input type="text" name="phone" ng-model="vm.horizontalStepper.step3.phone"
                 placeholder="Phone">
      </md-input-container>

      <md-input-container flex="100" flex-gt-xs="50">
          <input type="text" name="mobile" ng-model="vm.horizontalStepper.step3.mobile"
                 placeholder="Mobile">
      </md-input-container>
  </div>

</div>
